# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
env/

# System files (macOS)
.DS_Store
